Surgeries: <% @surgeries.each do |surgery| %>
  <section id="surgery-<%= surgery.id %>">
    <%= link_to surgery.title, surgery_path(surgery.id) %><br>
    <% surgery.doctors.each do |doctor| %>
        <%= doctor.name  %><br>
    <% end %>
  </section>
<% end %>
